
* {
    box-sizing: border-box;
}

body { 
    margin: 0;
   }

h1{
    font-family: 'Noto Sans', sans-serif;
    font-style: bold;
    color: #4CAF50;
}

span, li {
    font-family: 'Merriweather', serif;
}

.form{
    width: 700px;
    margin: auto; 
    background: #fd0;
   }

.div-padding {
    padding: 15px;
}

.submit {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .add {
      padding: 5px 32px;
  }

  .hover-table { 
    width: 75%;
    border-collapse: collapse;
    margin: auto;
   }

   .hover-table td, .hover-table th{
       border: #4CAF50 1px solid;
       padding: 5px;
   }
   
   .hover-table tr:hover {
       background-color: #b5e7a0;
   }

   .turn:hover {
    -moz-transform: rotate(359deg); /* Для Firefox */
    -ms-transform: rotate(359deg); /* Для IE */
    -webkit-transform: rotate(359deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(359deg); /* Для Opera */
    transform: rotate(359deg);
   }

