/*селектор по атрибуту*/
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*селектор по тэгу*/

/*селектор по атрибуту - в квадратных скобках*/
[type] {
    font-weight: bold;
}
/*селектор для атрибута определенного типа*/
[type="number"]{
    color: blue;
}

/*селектор по id - перед именем #*/

/*селектор класса - перед именем точка*/
.div-padding {
    padding: 15px;
}